<div class="row">
  <div class="col-md-12">
    <h1>Stories</h1>

    <% if (storyList.length) { %>
      <% storyList.forEach(function(story) { %>
        <div class="col-md-12">
          <a href="/stories/manage/<%= story.id %>">
            <div class="panel panel-default">
              <div class="panel-body">
                <%= story.title %>
                <div class="story-details">(<%= story.numberScenes %> scenes, <%= story.numberPlaylists %> playlists)</div>
              </div>
            </div>
          </a>
        </div>
      <% }); %>
    <% } else { %>
      <em>No stories.</em>
    <% } %>
  </div>
</div>
