<div class="row">
  <div class="col-md-12">
    <h1>Scenarios</h1>

    <% if (scenarioList.length) { %>
      <% scenarioList.forEach(function(scenario) { %>
        <div class="col-md-12">
          <a href="/scenarios/manage/<%= scenario.id %>">
            <div class="panel panel-default">
              <div class="panel-body">
                <%= scenario.title %>
                <div class="scenario-details">(<%= scenario.numberScenes %> scenes, <%= scenario.numberPlaylists %> playlists)</div>
              </div>
            </div>
          </a>
        </div>
      <% }); %>
    <% } else { %>
      <em>No scenarios.</em>
    <% } %>
  </div>
</div>
