<!DOCTYPE html>
<html>
  <head>
    <title>Lyre - Login</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/lyre.css" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          Please enter the passphrase to access Lyre as a narrator:

          <form method="post">
            <input autofocus="autofocus" type="password" name="passphrase" placeholder="Passphrase here" size="30" />
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
