<div class="row">
  <div class="col-md-6">
    <h1><%= title %></h1>
  </div>

  <div class="col-md-6">
    <button onclick="location.href = '/scenarios/narrate/<%= id %>'">Start scenario</button>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2>Scenes</h2>

        <% if (scenes.length) { %>
          <% scenes.forEach(function(scene) { %>
            <%= scene.title %>
          <% }); %>
        <% } else { %>
          <em>No scenes</em>
        <% } %>

        <h3>Upload</h3>
        <form method="post" action="/scenarios/scenes">
          <input type="submit" value="Upload" />
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2>Playlists</h2>

        <% if (playlists.length) { %>
          <% playlists.forEach(function(playlist) { %>
            <%= playlist.title %>
          <% }); %>
        <% } else { %>
          <em>No playlists</em>
        <% } %>

        <h3>Upload</h3>
        <form method="post" action="/scenarios/playlists">
          <input type="submit" value="Upload" />
        </form>
      </div>
    </div>
  </div>
</div>
