<canvas id="content"></canvas>
<div id="picture"></div>
<div id="pictures"></div>

<script type="text/javascript" src="/js/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="/js/lightbox.js"></script>
<script type="text/javascript" src="/js/audience.js"></script>
