<div class="container-fluid">
  <div class="row">
    <div class="col-md-9">
      <filelister-app></filelister-app>
    </div>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <h2>Audience view</h2>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-body">
          <h2>Playlists</h2>

          <playlist-app></playlist-app>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></footer>

<script type="text/javascript" src="/js/require.js"></script>
<script type="text/javascript" src="/js/compiled/lyre.js"></script>
<script type="text/javascript">
 require(["lyre"], function(md) {});
</script>
