<div class="top">
  <audienceview-app></audienceview-app>
  <playlist-app></playlist-app>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <filelister-app></filelister-app>
    </div>
  </div>
</div>
<footer>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></footer>

<script type="text/javascript" src="/js/require.js"></script>
<script type="text/javascript" src="/js/compiled/lyre.js"></script>
<script type="text/javascript">
 // Unfortunately, due to (1) RiotTS not explicitly using modules, but
 // instead relying on tags being defined after loading certain code,
 // (2) TypeScript optimising away unused imports, and (3)
 // MapDiscoverer importing tools as external modules and thus turning
 // itself into a module, we have to load all the dependencies
 // explicitly and in order so that all this works.
 require(["AudienceApp", "PlaylistApp", "MapDiscoverer", "FileLister", "lyre"], function(aapp, plapp, md, flister, lyre) {
     lyre.default(<%= id %>);
 });
</script>
