body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html {
    height: 100%;
}

body.audience {
    background-color: black;
    margin: 0;
    height: 100%;
}

body.audience .container-fluid {
    height: 100%;
    margin-top: 0;
}

#picture {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 100%;
}

#fullscreen-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 5px;
    background-color: #ccc;
}

.top {
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;

    display: flex;
    justify-content: center;

    border-bottom: 1px solid;
}

.container-fluid {
    margin-top: 85px;
}

footer {
    font-size: 80%;
}

audienceview-app {
    width: 100px;
}

.panel-body h2 {
    margin-top: 0;
}

.scenario-details {
    font-size: 80%;
    color: #444;
}

#map-discoverer {
    overflow: auto;
}
