body.audience {
    background-color: black;
}

.panel-body h2 {
    margin-top: 0;
}

.scenario-details {
    font-size: 80%;
    color: #444;
}

#map-discoverer {
    overflow: auto;
}

.playlist {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.playlist img {
    margin: 5px;
}

.playlist .track-info {
    color: #aaa;
    font-size: 80%;
    font-style: italic;
}
