body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #333;
    color: #ddd;
}

html {
    height: 100%;
}

body.audience {
    background-color: black;
    margin: 0;
    height: 100%;
}

body.audience .container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 0;
    height: 100%;
    max-width: 100%;
}

#fullscreen-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 5px;
    background-color: #ccc;
}

#offline {
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 5px;
    color: #eee;
    background-color: #e33;
    font-weight: bold;
}

.top {
    position: fixed;
    top: 0;
    left: 0;
    height: 64px;
    width: 100%;
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #222;
}

.container-fluid {
    margin-top: 70px;
}

footer {
    font-size: 80%;
}

audienceview-app {
    width: 64px;
}

.panel-body h2 {
    margin-top: 0;
}

.scenario-details {
    font-size: 80%;
    color: #444;
}

#map-discoverer {
    overflow: auto;
}
