<audienceview-app>
  <style scoped>
    :scope {
      width: 64px;
      margin-right: 30px;
    }
    .offline {
      padding: 5px;
      color: #eee;
      background-color: #e33;
      font-weight: bold;
      text-align: center;
    }
    .audience-view img {
      max-width: 64px;
      max-height: 64px;
    }
    .audience-view canvas {
      max-width: 64px;
      max-height: 64px;
    }
  </style>

  <div class="audience-view">
    <div class="offline" show={ !isOnline() }>Offline</div>
    <img show={ isOnline() && inImageMode() } src={ imageUrl } />
    <canvas show={ isOnline() && inMapMode() } name="mapcanvas"></canvas>
</div>
</audienceview-app>
