<editable-playlist>
  <style scoped>
    .playlist {
        margin: 5px;
        border-bottom: 3px solid transparent;
        padding: 8px 15px;

        text-transform: capitalize;

        cursor: pointer;
    }

    .selected {
      border: 5px solid #22c064;
      margin: 0;
    }
  </style>

  <div class="playlist { opts.selected ? 'selected' : '' }">
    <span show={ !inEditMode() }
          onclick={ switchEditMode }>{ title }</span>
    <input show={ inEditMode() }
           id="inputfield"
           type="text"
           size="10"
           value={ title }
           onkeydown={ onKeyDown } />
  </div>
</editable-playlist>
