<filelister-app>
  <style scoped>
    ul.image-list {
      display: block;
    }

    ul.image-list li {
      display: inline-block;
      margin: 3px;
    }

    li.map {
      position: relative;
    }

    li.map img.map-mark {
      position: absolute;
      top: 5px;
      right: 5px;
    }
  </style>

  <div id="offline" show={ !isOnline() }>Offline</div>

  <div show={ fileListMode() }>
    <div class="scene" each={ scene in scenes }>
      <sceneheader id={ scene.id }
                   title={ scene.title } />
      <ul class="image-list">
        <li each={ file in scene.files }
            class={ file.type }
            onclick={ onImageClickHandler(file) }>
          <img show={ file.type === "map" } class="map-mark" src="/img/compass.png" />
          <img src={ file.thumbnailUrl } alt={ file.title } title={ file.title } />
        </li>
      </ul>
    </div>
  </div>

  <mapdiscoverer show={ mapMode() }
                 socket={ socket }
                 onClose={ switchToFileListMode } />
</filelister-app>
