<filelist-editor>
  <style scoped>
    ul.image-list {
      display: block;
    }

    ul.image-list li {
      display: inline-block;
      margin: 3px;
      width: 150px;
      height: 150px;
    }

    li.new {
      border: 2px solid #555;
      border-radius: 5px;
    }

    li.map {
      position: relative;
    }

    li.map img.map-mark {
      position: absolute;
      top: 5px;
      right: 5px;
    }

    .selected {
      border: 5px solid #22c064;
      margin: -5px;
    }

    #toolbox {
      position: fixed;
      bottom: 10px;
      right: 10px;
    }

    .tool {
      width: 100px;
      height: 50px;
      padding: 10px;
      margin: 3px;

      background-color: #22c064;
      vertical-align: middle;
      text-align: center;

      line-height: 30px;

      cursor: pointer;
    }

    .tool-danger {
      background-color: #d0021b;
    }
  </style>

  <div class="scene" each={ scene in scenes }>
    <sceneheader-editor scene={ scene }
                        showdeletebutton={ scene.files.length === 0 }
                        ondeletescene={ onClickDeleteScene.bind(this.parent)(scene.id) }
                        ontitleupdate={ onSceneUpdate.bind(this)} />
    <ul class="image-list">
      <li each={ file in scene.files }
          class={ file.type }
          onclick={ (onFileClickHandler.bind(this.parent.parent))(file.id) }
          data-id={ file.id }>
        <img show={ file.type === "map" }
             draggable="false"
             class="map-mark"
             src="/img/compass.png" />
        <img src={ file.thumbnailUrl }
             alt={ file.title }
             title={ file.title }
             class={ selectedFile === file.id ? "selected" : "" }
             draggable="true"
             ondragstart={ onDragStart.bind(this.parent) }
             ondragend={ onDragEnd.bind(this.parent) }
             ondragenter={ onDragEnter.bind(this.parent) } />
      </li>
      <li class="new"
          onclick={ onAddImageClickHandler(scene.id) }>
        <img src="/img/new-image.png"
             alt="New image"
             title="New image"
             draggable="false"
             ondragenter={ onDragEnter.bind(this) } />
      </li>
    </ul>
    <input type="file"
           id={ "newfile-" + scene.id }
           style="display: none"
           onChange={ onNewFileChange(scene.id) } />
  </div>

  <div class="scene">
    <sceneheader-editor scene={ {title: "New Scene"} } ontitleupdate={ this.onSceneCreate.bind(this) }></sceneheader-editor>
  </div>

  <div id="toolbox" show={ selectedFile }>
    <div class="tool tool-danger"
         onclick={ onClickDelete }>Delete</div>
    <div class="tool"
         onclick={ onClickToggleType }>Toggle type</div>
  </div>
</filelist-editor>
