<filelister-app>
  <style scoped>
    ul.image-list {
      display: block;
    }

    ul.image-list li {
      display: inline-block;
      margin: 3px;
    }
  </style>

  <div show={ fileListMode() }>
    <h1>Images</h1>
    <ul class="image-list">
      <li each={ image in images } onclick={ sendImageHandler(image) }>
        <img src={ image.thumbnailUrl } alt={ image.title } />
      </li>
    </ul>

    <h1>Maps</h1>
    <ul class="image-list">
      <li each={ map in maps } onclick={ openMapHandler(map) }>
        <img src={ map.thumbnailUrl } alt={ map.title } />
      </li>
    </ul>
  </div>

  <div show={ mapMode() }>
    <div onclick={ switchToFileListMode }>
      &#8592; Back
    </div>

    <mapdiscoverer socket={ socket }></mapdiscoverer>
  </div>
</filelister-app>
