<filelist-editor>
  <style scoped>
    ul.image-list {
      display: block;
    }

    ul.image-list li {
      display: inline-block;
      margin: 3px;
      width: 150px;
      height: 150px;
    }

    li.new {
      border: 2px solid #555;
      border-radius: 5px;
    }

    li.map {
      position: relative;
    }

    li.map img.map-mark {
      position: absolute;
      top: 5px;
      right: 5px;
    }

    img.selected {
      border: 5px solid #22c064;
      margin: -5px;
    }

    #toolbox {
      position: fixed;
      bottom: 10px;
      right: 10px;
    }

    .tool {
      width: 100px;
      height: 50px;
      padding: 10px;
      margin: 3px;

      background-color: #22c064;
      vertical-align: middle;
      text-align: center;

      line-height: 30px;

      cursor: pointer;
    }

    .tool-danger {
      background-color: #d0021b;
    }
  </style>

  <div class="scene" each={ scene in opts.scenes }>
    <sceneheader id={ scene.id }
                 title={ scene.title }
                 selectedItem={ parent.opts.selecteditem }
                 onSceneSelect={ onSceneSelect } />
    <ul class="image-list">
      <li each={ file in scene.files }
          class={ file.type }
          onclick={ onFileClick }
          data-id={ file.id }>
        <img show={ file.type === "map" }
             draggable="false"
             class="map-mark"
             src="/img/compass.png" />
        <img src={ file.thumbnailUrl }
             alt={ file.title }
             title={ file.title }
             class={ isSelected(file.id) ? "selected" : "" }
             draggable="true"
             ondragstart={ onDragStart.bind(this.parent) }
             ondragend={ onDragEnd.bind(this.parent) }
             ondragenter={ onDragEnter.bind(this.parent) } />
      </li>
      <li class="new"
          onclick={ onAddImageClickHandler(scene.id) }>
        <img src="/img/new-image.png"
             alt="New image"
             title="New image"
             draggable="false"
             ondragenter={ onDragEnter.bind(this) } />
      </li>
    </ul>
    <input type="file"
           id={ "newfile-" + scene.id }
           data-scene-id={ scene.id }
           style="display: none"
           onChange={ onNewFileChanged.bind(this) } />
  </div>
</filelist-editor>
