<mapdiscoverer>
  <style scoped>
    .toolbox {
      position: fixed;
      margin-left: -15px;
      z-index: 10;

      display: flex;
      justify-content: space-between;
      align-items: center;

      width: 90%;

      background-color: rgba(0, 0, 0, 0.3);
    }

    .misc-tools {
      display: flex;
    }

    .paint-tools {
      display: flex;
    }

    .tool {
      display: inline-block;

      min-width: 90px;
      max-width: 150px;
      height: 50px;

      margin: 3px;
      border: 0;
      padding: 10px 15px;

      background-color: #22c064;

      vertical-align: middle;
      text-align: center;
      line-height: 30px;

      cursor: pointer;
    }

    .marker-tools {
      display: inline-block;
    }

    .marker-tool {
      min-width: 40px;
      padding: 10px;
    }

    .marker-tools-dropdown {
      position: absolute;
    }
    .marker-tools-dropdown button {
      display: block;
    }

    .tool.active {
      background-color: #666;
      color: #ddd;
    }

    .tool-publish {
      min-width: 65px;
    }

    .tool-pen-size {
      padding-right: 0;
      min-width: 50px;
      background-color: transparent;
    }
    .pen-size {
      display: inline-block;
      width: 1.5em;
    }

    button img {
      vertical-align: middle;
    }

    input[type="range"] {
      width: 50px;
      margin-right: 5px;
      display: inline-block;
      vertical-align: middle;
    }

    .map-container {
      position: relative;
      left: 0;
      top: 60px;
      margin-top: 2ex;
      margin-left: -10px;
    }

    .ui-hints {
      position: absolute;
      top: 0;
      left: 0;
      border: 5px solid #55f;
      z-index: 5;

      cursor: crosshair;
    }

    .map-img {
      position: relative;
      top: 5px;
      left: 5px;
      pointer-events: none;
    }
  </style>

  <div class="toolbox">
    <button class="tool tool-publish" accesskey="s" onclick={ sendToAudience }>
      Publish
    </button>

    <div class="misc-tools">
      <button class="tool" accesskey="z" onclick={ undo }>
        Undo
      </button>
      <button class="tool" accesskey="y" onclick={ redo }>
        Redo
      </button>
      <button class="tool { paintMode === "cover" ? "active" : "" }" accesskey="c" onclick={ coverUncover }>
        { paintMode === "cover" ? "Cover" : "Uncover" }
      </button>
    </div>

    <div class="paint-tools">
      <div class="tool tool-pen-size">
        <input type="range"
               min="5" max="95" step="15"
               value={ toolProperties.penSize }
               onchange={ changePenSize } />
        <span class="pen-size">{ toolProperties.penSize }</span>
      </div>

      <!-- Paint tools -->
      <button each={ paintTool in paintTools }
              class="tool { paintToolClass(paintTool) }"
              accesskey={ paintTool.constructor.accessKey }
              onclick={ onPaintToolClickHandler(paintTool) }>
        { paintTool.constructor.title }
      </button>

      <!-- Markers -->
      <div class="marker-tools"
           onmouseover="{ onMarkerToolsHover }"
           onmouseout="{ onMarkerToolsOut }">
        <button class="tool marker-tool { paintToolClass(lastUsedMarker) }"
                title="{ lastUsedMarker.markerTitle }"
                onclick={ onMarkerToolClickHandler(lastUsedMarker) }>
          <img src="{ lastUsedMarker.markerImageUrl }"
               alt="{ lastUsedMarker.markerTitle }" />
        </button>
        <div class="marker-tools-dropdown" show={ showMarkerToolsDropdown }>
          <button each={ markerTool in markerTools }
                  show={ markerTool !== lastUsedMarker }
                  class="tool marker-tool"
                  title="{ markerTool.markerTitle }"
                  onclick={ onMarkerToolClickHandler(markerTool) }>
            <img src="{ markerTool.markerImageUrl }"
                 alt="{ markerTool.markerTitle }" />
          </button>
        </div>
      </div>
    </div>

    <button class="tool" onclick={ onClose }>Close</button>
  </div>

  <div class="map-container">
    <canvas class="ui-hints"
            onmouseup={ onmouseup }
            onmousedown={ onmousedown }
            onmousemove={ onmousemove }
            onmouseout={ onmouseout }>
    </canvas>
  </div>
</mapdiscoverer>
