<playlist-app>
  <style scoped>
    .playlist-container {
        display: inline-block;
    }

    .playlist {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .playlist img {
        margin: 5px;
    }

    .playlist .track-info {
        color: #aaa;
        font-size: 80%;
        font-style: italic;
    }
  </style>

  <div each={ pl in opts.playlists } class="playlist-container" onclick={ playPauseHandler(pl.title) }>
    <div class="playlist" data-title="{ pl.title }">
      <img src="/img/{ playlistStatus(pl.title) }.png">
      <div>
        { pl.title }<br/>
        <div class="track-info">{ trackInfo(pl.title) }</div>
      </div>

      <audio each={ track, i in pl.tracks }
             src={ track.url }
             onended={ endedHandler(pl.title, i) }
             />
    </div>
  </div>
</playlist-app>
