<sceneheader-editor>
  <style scoped>
    div.scene-header {
      display: flex;
      align-items: center;
      width: 100%;
      margin-top: 10px;
      margin-bottom: 20px;
    }

    div.line {
      flex-grow: 1;
      height: 1px;
      background-color: #555;
    }

    h1 {
      border: 1px solid #555;
      border-radius: 30px;
      margin: 0;
      padding: 5px 50px;

      font-size: 14px;
      text-transform: uppercase;
      flex-basis: auto;
    }
  </style>

  <div class="scene-header">
    <div class="line"></div>
    <h1 show={ !editMode } onclick={ switchEditMode }>{ opts.scene.title }</h1>
    <h1 show={ editMode }>
      <input type="text"
             value={ opts.scene.title }
             onkeydown={ onKeyDown.bind(this) } />
    </h1>
    <div class="line"></div>
  </div>
</sceneheader-editor>
