<sceneheader>
  <style scoped>
    div.scene-header {
      display: flex;
      align-items: center;
      width: 100%;
      margin-top: 10px;
      margin-bottom: 20px;
    }

    div.line {
      flex-grow: 1;
      height: 1px;
      background-color: #555;
    }

    h1 {
      border: 1px solid #555;
      border-radius: 30px;
      margin: 0;
      padding: 5px 50px;
      flex-basis: auto;

      font-weight: normal;
      font-size: 14px;
      text-transform: uppercase;
    }

    h1.selected {
      border: 3px solid #22c064;
      padding-top: 3px;
      padding-bottom: 3px;
    }
  </style>

  <div class="scene-header">
    <div class="line"></div>
    <h1 onclick={ onSceneClick }
        class={ isSelected() ? "selected" : "" }>
      { opts.title }
    </h1>
    <div class="line"></div>
  </div>
</sceneheader>
