<story-editor>
  <style scoped>
    .story-title {
      text-align: center;
      font-variant: small-caps;
      font-size: 24px;
    }
  </style>

  <div class="top">
    <img class="logo" src="/img/lyre.png" />
    <playlist-editor show={ !isPlaylistZoomed() }
                     storyId={ opts.storyid }
                     playlists={ playlists }
                     selectedItem={ selectedItem }
                     onPlaylistSelect={ onPlaylistSelect }
                     onPlaylistTitleUpdate={ onPlaylistTitleUpdate }
                     onPlaylistMoved={ onPlaylistMoved } />
    <tracklist-editor show={ isPlaylistZoomed() }
                      playlist={ zoomedPlaylist }
                      selectedItem={ selectedItem }
                      onTrackSelect={ onTrackSelect }
                      onTrackUpload={ onTrackUpload }
                      onUnzoom={ unzoomPlaylist }
                      onTrackMoved={ onTrackMoved } />
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="story-title">{ storyTitle }</div>
        <filelist-editor storyId={ opts.storyid }
                         scenes={ scenes }
                         selectedItem={ selectedItem }
                         onSceneSelect={ onSceneSelect }
                         onSceneTitleUpdate={ onSceneTitleUpdate }
                         onSceneDelete={ onSceneDelete }
                         onFileSelect={ onFileSelect }
                         onFileMoved={ onFileMoved }
                         onFileUpload={ onFileUpload } />
      </div>
    </div>
  </div>

  <!-- Menu when a scene is selected -->
  <div class="floating-toolbox" show={ selectedItem.id && selectedItem._type === "scene" }>
    <div class="tool tool-danger"
         onclick={ onDeleteSceneClick }>Delete</div>
    <div class="tool"
         onclick={ onRenameSceneClick }>Rename</div>
  </div>

  <!-- Menu when a file is selected -->
  <div class="floating-toolbox" show={ selectedItem.id && selectedItem._type === "file" }>
    <div class="tool tool-danger"
         onclick={ onDeleteFileClick }>Delete</div>
    <div class="tool"
         onclick={ onToggleFileTypeClick }>Toggle Type</div>
  </div>

  <!-- Menu when a playlist is selected -->
  <div class="floating-toolbox" show={ selectedItem.id && selectedItem._type === "playlist" }>
    <div class="tool tool-danger"
         onclick={ onDeletePlaylistClick }>Delete</div>
    <div class="tool"
         onclick={ onTracksPlaylistClick }>See Tracks</div>
    <div class="tool"
         onclick={ onRenamePlaylistClick }>Rename</div>
  </div>

  <!-- Menu when a track is selected -->
  <div class="floating-toolbox" show={ selectedItem.id && selectedItem._type === "track" }>
    <div class="tool tool-danger"
         onclick={ onDeleteTrackClick }>Delete</div>
  </div>

  <!-- Menu when there's something selected -->
  <div class="floating-toolbox" show={ !selectedItem.id }>
    <div class="tool" onclick={ onSceneCreateClick }>New Scene</div>
    <div class="tool" onclick={ onPlaylistCreateClick }>New Playlist</div>
    <div class="tool" onclick={ onRenameStoryClick }>Rename Story</div>
    <a class="tool tool-danger" href="/">Close</a>
  </div>
</story-editor>
