<story-editor>
  <style scoped>
    #toolbox {
      position: fixed;
      bottom: 10px;
      right: 10px;
    }

    .tool {
      width: 100px;
      height: 50px;
      padding: 10px;
      margin: 3px;

      background-color: #22c064;
      vertical-align: middle;
      text-align: center;

      line-height: 30px;

      cursor: pointer;
    }

    .tool-danger {
      background-color: #d0021b;
    }
  </style>

  <div class="top">
    <img class="logo" src="/img/lyre.png" />
    <playlist-editor show={ !isPlaylistZoomed() }
                     storyId={ opts.storyid }
                     playlists={ playlists }
                     selectedItem={ selectedItem }
                     onPlaylistSelect={ onPlaylistSelect }
                     onPlaylistTitleUpdate={ onPlaylistTitleUpdate }
                     onPlaylistMoved={ onPlaylistMoved } />
    <tracklist-editor show={ isPlaylistZoomed() }
                      playlist={ zoomedPlaylist }
                      selectedItem={ selectedItem }
                      onTrackSelect={ onTrackSelect }
                      onTrackUpload={ onTrackUpload }
                      onUnzoom={ unzoomPlaylist }
                      onTrackMoved={ onTrackMoved } />
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <filelist-editor storyId={ opts.storyid }
                         scenes={ scenes }
                         selectedItem={ selectedItem }
                         onSceneTitleUpdate={ onSceneTitleUpdate }
                         onSceneDelete={ onSceneDelete }
                         onFileSelect={ onFileSelect }
                         onFileMoved={ onFileMoved }
                         onFileUpload={ onFileUpload } />
      </div>
    </div>
  </div>

  <!-- Menu when a file is selected -->
  <div id="toolbox" show={ selectedItem.id && selectedItem._type === "file" }>
    <div class="tool tool-danger"
         onclick={ onDeleteFileClick }>Delete</div>
    <div class="tool"
         onclick={ onToggleFileTypeClick }>Toggle Type</div>
  </div>

  <!-- Menu when a playlist is selected -->
  <div id="toolbox" show={ selectedItem.id && selectedItem._type === "playlist" }>
    <div class="tool tool-danger"
         onclick={ onDeletePlaylistClick }>Delete</div>
    <div class="tool"
         onclick={ onTracksPlaylistClick }>See Tracks</div>
    <div class="tool"
         onclick={ onRenamePlaylistClick }>Rename</div>
  </div>

  <!-- Menu when a playlist is selected -->
  <div id="toolbox" show={ selectedItem.id && selectedItem._type === "track" }>
    <div class="tool tool-danger"
         onclick={ onDeleteTrackClick }>Delete</div>
  </div>

  <!-- Menu when there's something selected -->
  <div id="toolbox" show={ !selectedItem.id }>
    <div class="tool" onclick={ onSceneCreateClick }>New Scene</div>
    <div class="tool" onclick={ onPlaylistCreateClick }>New Playlist</div>
  </div>
</story-editor>
